@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    /* serif */
    font-family: 'Open-Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: #2d3035; */
    /* background-image: url(https://www.narcity.com/media-library/university-of-toronto-s-convocation-hall-with-the-cn-tower-in-the-background.jpg?id=30280221&width=1245&height=700&quality=85&coordinates=0%2C175%2C0%2C175); */
    /* background-image: url(static/con_hall.jpg); */
    /* background-color: red; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-color: #f6f3ea;
    color: #4e4d4f;
    margin: 0;
}

.jp-RenderedSVG.jp-OutputArea-output,
.jp-RenderedImage.jp-OutputArea-output {
    display: flex;
    justify-content: center;
}

/********************************************** SVG BREAKPOINTS *********************************************************/

@media screen and (min-width: 660px){
    /* .g-gtitle > .gtitle {
        font-size: 24px;
    } */
    img, div[data-mime-type="image/svg+xml"].jp-RenderedSVG.jp-OutputArea-output svg {
        width: 100%;
        max-width: 700px;
    }   

    .cell_centered {
        margin: auto;
        width: 80%;
    }
}

@media screen and (max-width: 660px){
    /* .g-gtitle > .gtitle {
        font-size: 15px;
    } */
    img, div[data-mime-type="image/svg+xml"].jp-RenderedSVG.jp-OutputArea-output svg {
        width: 100%;
        min-width: 325px;
    }

    .cell_centered {
        margin: auto;
        width: 100%;
    }
}

.cell_btm_margin {
    margin-bottom: 100px;
}

.celltag_no_margin .cell_btm_margin{
    margin-bottom: 0px !important;
}

.celltag_yes_margin .cell_markdown{
    margin-bottom: 100px !important;
}


.cell_output {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #f6f3ea;
}



.cell_markdown {
    letter-spacing: 2px;
    padding: 20px;
    background-color: #f6f3ea;
}

.celltag_intro {
    margin-top: 30px;   
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}  

h1 {
    font-family:'Trebuchet MS', 'Impact', sans-serif; 
    letter-spacing: 6px;
}

h1::before {
    content: '';
    width: 15px;
    height: 15px;
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.burger.line {
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
  #TOC-Button {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    bottom: 0;
    width: 40px;
    padding: 10px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
  }
  
  /* 15% of space for menu button */
  #TOC {
    position: fixed;
    display: none;
    right: 0;
    top: 60%;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    max-height: 25%;
    max-width: 500px;
    overflow-y: scroll;
  }
  
  

/* g.scrollbar-slider > line.scrollbar-glyph {
    stroke-opacity: 0.4;
    overscroll-behavior: contain;
} */
  

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 15px;
}

::-webkit-scrollbar:horizontal {
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    border: 1px solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}


/* .debug_block {
    border: thin solid red;
}
 */
