{% extends 'lab/index.html.j2' %}

{%- block html_head_js -%}
    {{ super() }}
    <script
      src="https://kit.fontawesome.com/2b8e81149d.js"
      crossorigin="anonymous"
    ></script>
{%- endblock html_head_js -%}


{% block markdowncell %}
    <div class='cell_markdown'>
        {{ super() }}
    </div>
{% endblock markdowncell %}

{% block output_group %}
    <div class='cell_output cell_btm_margin'>
      <div class='cell_centered'>
        {{ super() }}
      </div>
    </div>
{% endblock output_group %}

{{ resources.include_css("static/index.css") }}